<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <contextName>${HOSTNAME}</contextName>
  <property name="LOG_PATH" value="phantom-log" />
  <springProperty scope="context" name="appName" source="spring.application.name" />
  <springProperty scope="context" name="ip" source="spring.cloud.client.ipAddress" />
  <property name="CONSOLE_LOG_PATTERN"
            value="[%d{yyyy-MM-dd HH:mm:ss.SSS} ${ip} ${appName} %highlight(%-5level) %yellow(%X{X-B3-TraceId}),%green(%X{X-B3-SpanId}),%blue(%X{X-B3-ParentSpanId}) %yellow(%thread) %green(%logger) %msg%n"></property>

  <appender name="FILEERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>../${LOG_PATH}/${appName}/${appName}-error.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>../${LOG_PATH}/${appName}/${appName}-error-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>2MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <append>true</append>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>${CONSOLE_LOG_PATTERN}</pattern>
      <charset>utf-8</charset>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>error</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
  </appender>

  <appender name="FILEWARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>../${LOG_PATH}/${appName}/${appName}-warn.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>../${LOG_PATH}/${appName}/${appName}-warn-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>2MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <append>true</append>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>${CONSOLE_LOG_PATTERN}</pattern>
      <charset>utf-8</charset>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>warn</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
  </appender>

  <appender name="FILEINFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>../${LOG_PATH}/${appName}/${appName}-info.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>../${LOG_PATH}/${appName}/${appName}-info-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>2MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <append>true</append>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>${CONSOLE_LOG_PATTERN}</pattern>
      <charset>utf-8</charset>
    </encoder>

    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>info</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
  </appender>
<!--   <appender name="logstash" class="ch.qos.logback.core.rolling.RollingFileAppender"> -->
<!--     <file>c:/dev/${appName}.json</file> -->
<!--     <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> -->
<!--       <fileNamePattern>c:/dev/${appName}-%d{yyyy-MM-dd}.json</fileNamePattern> -->
<!--       <maxHistory>7</maxHistory> -->
<!--     </rollingPolicy> -->
<!--     <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder"> -->
<!--       <providers> -->
<!--         <timestamp> -->
<!--           <timeZone>UTC</timeZone> -->
<!--         </timestamp> -->
<!--         <pattern> -->
<!--           <pattern> -->
<!--             { -->
<!--             "ip": "${ip}", -->
<!--             "app": "${appName}", -->
<!--             "level": "%level", -->
<!--             "trace": "%X{X-B3-TraceId:-}", -->
<!--             "span": "%X{X-B3-SpanId:-}", -->
<!--             "parent": "%X{X-B3-ParentSpanId:-}", -->
<!--             "thread": "%thread", -->
<!--             "class": "%logger{40}", -->
<!--             "message": "%message", -->
<!--             "stack_trace": "%exception{300}" -->
<!--             } -->
<!--           </pattern> -->
<!--         </pattern> -->
<!--       </providers> -->
<!--     </encoder> -->
<!--   </appender> -->
  <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
<!--     <file>c:/dev/${appName}.json</file> -->
<!--     <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> -->
<!--       <fileNamePattern>c:/dev/${appName}-%d{yyyy-MM-dd}.json</fileNamePattern> -->
<!--       <maxHistory>7</maxHistory> -->
<!--     </rollingPolicy> -->
    <remoteHost>10.0.0.8</remoteHost>  
        <port>4567</port>  
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <timestamp>
          <timeZone>UTC</timeZone>
        </timestamp>
        <pattern>
          <pattern>
            {
            "ip": "${ip}",
            "app": "${appName}",
            "level": "%level", 
            "trace": "%X{X-B3-TraceId:-}",
            "span": "%X{X-B3-SpanId:-}",
            "parent": "%X{X-B3-ParentSpanId:-}",
            "method": "%method",
            "thread": "%thread",
            "class": "%logger{40}",
            "message": "%message",
            "stack_trace": "%exception{300}"
            }
          </pattern>
        </pattern>
      </providers>
    </encoder>
  </appender>

  <appender name="STDOUT1" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${consoleLayoutPattern}</pattern>
      <charset>utf-8</charset>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>debug</level>
    </filter>
  </appender>
  
   <appender name ="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
         <encoder>
                  <pattern>
            <pattern>%date [%thread] %-5level %logger:%method- %message %n</pattern>
          </pattern>
          </encoder>
      </appender>
<appender name="EMAIL" class="ch.qos.logback.classic.net.SMTPAppender">  
        <smtpHost>smtp.sina.com</smtpHost>  
        <username>jesse_ji521@sina.com</username>  
        <password>jesse.ji237</password> 
        <smtpPort>25</smtpPort> 
        <SSL>true</SSL>  
        <to>smluyi1@163.com</to>  
        <from>jesse_ji521@sina.com</from>  
        <subject>test</subject>  
        <asynchronousSending>true</asynchronousSending>
        <layout class="ch.qos.logback.classic.PatternLayout">
          <pattern>%date %X{ip}  %-5level %logger{35} - %message%n</pattern>
        </layout>
         <filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印错误日志 -->
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
  <logger name="org.springframework" level="INFO" />
  <logger name="org.hibernate" level="INFO" />
  <logger name="com.ge" level="DEBUG" />

  <root level="INFO">
<!--     <appender-ref ref="FILEERROR" /> -->
<!--     <appender-ref ref="FILEWARN" /> -->
<!--     <appender-ref ref="FILEINFO" /> -->
    <appender-ref ref="logstash" />
    <appender-ref ref="STDOUT" />
<!--     <appender-ref ref="EMAIL"/>   -->
  </root>
  <root level="ERROR">
        <appender-ref ref="EMAIL"/>  
    </root>
</configuration>